<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            ASSOCIAZIONE CULTURALE WARTIME FRIENDS. Tutti coloro che vorranno sostenerci possono farlo diventando soci. Tutto il materiale raccolto in questi ultimi anni (libri, video, foto, diari di guerra, mappa militari, ecc.) verranno messi a disposizione dei soci che ne faranno richiesta, per dare loro l'opportunità di ampliare le loro conoscenze su un periodo storico molto importante per la storia del nostro Paese, dando priorità agli aspetti “minori” della presenza delle truppe alleate sul fronte del Senio durante la seconda guerra mondiale e l'interazione con la popolazione.
        </p>
    </div>
</div> <!-- / section -->
